// Import Bootstrap functions and variables
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// Other Bootstrap SCSS imports (mixins, etc.)
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Your custom SCSS
.navbar {
  .nav-link {
    &:hover {
      color: black; /* Change text color to black on hover */
      font-weight: bold; /* Add bold font weight on hover */
    }
  }
}

.navbar-text {
  .btn {
    margin-right: 10px; /* Adjust the margin-right for spacing between buttons */
  }
  margin-right: 20px; /* Adjust the margin-right for the whole .navbar-text */
}
// Custom colors and styles or other custom SCSS rules
$custom-colors: (
  "my-primary-light": rgb(220, 183, 183),
  "secondary-light": rgb(50, 159, 9),
  "success": rgb(15, 170, 79),
);

// Rest of your custom styles...
