// Import Bootstrap functions, variables, mixins, etc.
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

/// Define custom colors
$custom-colors: (
  "my-primary-light": rgb(255, 255, 255),
  "secondary-light": rgb(50, 159, 9),
  "success": rgb(15, 170, 79),
  "btn-outline-danger": #000000,
);

// Button mixin for common button styles
@mixin commonButtonStyles {
  $radius: 30px;
  $padding: 2px 20px;
  $font-size: 20px;
  $icon-size: 24px;
  $font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  $font-button-bold: 700;
  font-weight: $font-button-bold;
  border-radius: $radius;
  padding: $padding;
  font-size: $font-size;
  font-family: $font-family;

  i {
    font-size: 28px;
    vertical-align: middle;
  }
}

.navbar-brand img {
  width: 105px; /* Set the width to 45 pixels */
  /* Additional styles if needed */
}

// Custom navbar styles
.navbar {
  background-color: transparent; // Set a default background color, change as per your design
  // Additional navbar styles...

  .navbar-text {
    font-size: 20px; // Applying the font size variable to navbar text

    .signUp.btn {
      @include commonButtonStyles; // Use mixin for common button styles
      color: black;
      background-color: transparent;
      border: 1px solid #000;
      transition: all 0.3s ease;
      i {
        padding-right: 13px;
      }
      &:hover {
        background-color: #e0e0e0;
      }
    }

    .logIn.btn {
      @include commonButtonStyles; // Use mixin for common button styles
      color: black;
      background-color: #ffe399;
      border: 1px solid #f1f1f1;
      i {
        padding-right: 20px;
      }
      &:hover {
        // Change login background color to yellow on hover
        border-color: #000; // Ensure a border color for consistency
        background-color: rgb(231, 207, 139);
      }
    }
  }
}
