// Import Bootstrap functions, variables, mixins, etc.
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

/// Define custom colors
$custom-colors: (
  "my-primary-light": rgb(255, 255, 255),
  "secondary-light": rgb(50, 159, 9),
  "success": #fff7e2,
  "btn-outline-danger": #000000,
  "bg-dark": #272728,
);
a {
  text-decoration: none;
}
.footer-bg-dark {
  background-color: map-get($custom-colors, "bg-dark");
}

ul {
  list-style: none;
  padding-left: 0; /* Optional: Remove default padding */
}
// Button mixin for common button styles
@mixin commonButtonStyles {
  $radius: 30px;
  $padding: 2px 20px;
  $font-size: 20px;
  $icon-size: 24px;
  $font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  $font-button-bold: 700;
  font-weight: $font-button-bold;
  border-radius: $radius;
  padding: $padding;
  font-size: $font-size;
  font-family: $font-family;

  i {
    font-size: 28px;
    vertical-align: middle;
  }
}
@mixin commonNavbarOptionStyles {
  ul.navbar-nav.options {
    li.nav-item {
      a.nav-link {
        font-size: 20px; /* Setting font size to 20px */
        line-height: 30px; /* Maintain a consistent line height */
        gap: 20px;

        &:hover {
          color: #ffe399;
        }
      }
    }
  }
}

.navbar-brand img {
  width: 105px; /* Set the width to 45 pixels */
  /* Additional styles if needed */
}

// Custom navbar styles
.navbar {
  @include commonNavbarOptionStyles;
  backdrop-filter: blur(1px); /* Initial blur value for the navbar */
  margin-bottom: 5px;
  // background-color: rgb(255, 255, 255,0.1);

  .navbar-text {
    font-size: 20px; // Applying the font size variable to navbar text

    .signUp.btn {
      @include commonButtonStyles; // Use mixin for common button styles
      color: black;
      background-color: transparent;
      border: 1px solid #000;
      transition: all 0.3s ease;
      i {
        padding-right: 13px;
      }
      &:hover {
        background-color: #e0e0e0;
      }
    }

    .logIn.btn {
      @include commonButtonStyles; // Use mixin for common button styles
      color: black;
      background-color: #ffe399;
      border: 1px solid #f1f1f1;
      padding: 2px 26px;

      i {
        padding-right: 20px;
      }
      &:hover {
        // Change login background color to yellow on hover
        border-color: #000; // Ensure a border color for consistency
        background-color: rgb(231, 207, 139);
      }
    }
  }
}
.imageMain {
  background-image: url(../images/header.jpg);
  background-size: cover;
}
//search button
.col-md-5 {
  .input-group {
    width: 100%; // Ensure it fills col-md-5 space

    .form-control.rounded-start {
      border-radius: 30px; // Rounded border
    }

    .input-group-append {
      pointer-events: none; // Prevent the appended icon from being clickable
    }

    .input-group-text {
      border: none; // Remove border
      background-color: transparent; // Transparent background
    }
  }
}
// Variables or mixins can be defined here if needed

// Variables or mixins can be defined here if needed

footer {
  background-color: #e6e6e6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  .topSection {
    padding: 40px 10px 40px 10px;
    text-align: end;
  }
  .socialTitle {
    padding-right: 200px;
  }

  i {
    font-size: 30px;
    margin-right: 30px;
  }

  a {
    color: #676767;

    &:hover {
      color: #373737;
    }
  }
  .bottomSection {
    .panel {
      .panel01 {
        a {
          color: #676767;

          &:hover {
            color: #0f0f0f;
            font-weight: 500;
          }
        }
        padding-bottom: 50px;
      }
    }
  }
}

.bottomFooter {
  padding-top: 25px;
  padding-bottom: 15px;
  .left {
    color: rgb(202, 202, 202);
    i {
      padding-right: 15px;
    }
  }
  .right{
    text-align: right;
    font-weight: 500;
    a {
      padding: 5px;
      &:hover {
        color:rgb(90, 90, 90);
      }
    }
  }
}
